* {
  background-color: #f8f9fa;
  font-family: "Roboto", sans-serif;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
/* Navbar*/
nav{
  z-index: 1000;
  position: sticky;
  top: 0;
}
.navbar {
  width: 100%;
  height: auto;
  padding: 0;
  position: sticky;
  margin-top: 0px;
  top: 0;
  background-color: #f8f9fa;
}

.menu-icon {
  display: none;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #212529;
  font-size: large;
  padding: 10px;
  text-align: center;
}

.navbar ul li a img {
  margin-right: 8px;
}

.navbar ul li .active {
  background: linear-gradient(to left, #003566, #ffc300);
  color: #ffc300;
  box-shadow: 0px 0px 5px #ffc300;
  border-radius: 7px;
}
.navbar ul li .active img {
  background-color: transparent;
}
@media (max-width: 678px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  .menu-icon {
    display: block; 
    padding: 20px;
    align-self: flex-end;
    cursor: pointer;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-top: 20px;
    display: none; 
  }

  .navbar ul.active {
    display: flex; 
  }

}

/*Header*/

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  height: 100vh;
}
@media (max-width: 900px) {
  .header-container {
     
    height: auto;
  }

}
.welcome {
  text-align: center;
  margin-bottom: 0.3rem;
}

.welcome h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  line-height: 10px;
}

.welcome p {
  font-size: 1.5rem;
  color: #666;
}



.quote-container {
  padding: 2rem;
  border-radius: 8px;
  max-width: 700px;
  width: 90%;
  margin-top: 1rem;
  background-color: #fff;
  border-right: 4px solid #ffc300;
    border-left: 4px solid #ffc300;

}

.quote {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
    background-color: #fff;
}

.quote blockquote {
  font-size: 1.8rem;
  font-style: italic;
  color: #003566;
  margin: 0;
  padding: 0;
  line-height: 1;
    background-color: #fff;
}

.quote .quote-icon {
  font-size: 3rem;
  color: #ffc300;
  margin: 0.2rem;
}

.quote cite {
  font-size: 1.4rem;
  font-weight: 700;
  color: #666;
  margin-top: 0.5rem;
}
/*Profile */
.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  box-shadow: 0 10px 20px rgba(0, 53, 102, 0.1), 0 6px 6px rgba(0, 53, 102, 0.15);
  border-radius: 12px; 
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profile-section:hover {
  transform: translateY(-5px); 
  box-shadow: 0 15px 30px rgba(0, 53, 102, 0.2), 0 10px 10px rgba(0, 53, 102, 0.2);
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.personal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px; 
  width: 100%;
  background-color: transparent;
}

.profile-photo-container {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  overflow: hidden;
  position: relative;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.profile-photo-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 4px;
  background: linear-gradient(to right, #003566, #ffc300);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20%; 
}

.name-title {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 2.5rem; 
  font-weight: 700;
  color: #003566;
  margin: 0;
  line-height: 1.2;
}

.profile-title {
  font-size: 1.2rem; 
  font-weight: 500;
  color: #ffc300;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px; 
  text-decoration: none; 
}

.profile-bio {
  font-size: 1.3rem; 
  line-height: 1.8;
  color: #6c757d;
  max-width: 600px;
  margin-top: 25px; 
  background-color: transparent;
}

@media (max-width: 768px) {
  .personal {
    flex-direction: column;
    text-align: center;
  }
}
/*About*/
.about-me{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  padding-top: 60px;
  padding: 30px;

}
.about-me h2{
  font-size: 2.5rem;
  color: #003566;
  margin-bottom: 20px;
}
.about-me p{
  border-left: 4px solid #ffc300;
  border-right: 4px solid #ffc300;
  text-align: center;
  padding: 30px;
  font-size: 1.3rem;
  color: #6c757d;
}

.about-me {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  padding-top: 60px;
  padding: 30px;
}

.about-me h2 {
  font-size: 2.5rem;
  color: #003566;
  margin-bottom: 20px;
}

.about-me p {
  border-left: 4px solid #ffc300;
  border-right: 4px solid #ffc300;
  text-align: center;
  padding: 30px;
  font-size: 1.3rem;
  color: #6c757d;
}

.profile-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.about-sections-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.about-card {
  background: linear-gradient(to bottom right, #00407a, #ffd74a);
  color: black;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.about-card h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ffc300;
  background-color: transparent;
}

.card-summary {
  font-size: 1rem;
  line-height: 1.6;
  color: #ced4da;
  background-color: transparent;
  min-height: 60px;
  font-size: large;
}

.card-list {
  list-style: none;
  padding: 0;
  color: #333;
  font-weight: bold;
  margin-top: 20px;
  background-color: transparent;
}

.card-list li {
  background-color: transparent;
  padding: 8px 0;
  font-size: 1rem;
  border-bottom: 2px solid rgba(4, 51, 116, 0.3);
  color: #333;
}

.card-list li:last-child {
  border-bottom: none;
}

.toggle-button {
  background-color: #ffc300;
  color: #003566;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(255, 195, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-button:hover {
  background-color: #e6b300;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .profile-details-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 80px;
}
@media (max-width: 768px){
  .images{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .images .mobile-img{
    display: none;
}
}

/* Projects Section */
.projects-section {
  padding: 50px 20px;
  background-color: #f8f9fa;
  text-align: center;
}

.projects-section h2 {
  font-size: 2.5rem;
  color: #003566;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}

.project-grid-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
}

.project-grid {
  display: flex;
  gap: 20px;
  overflow: hidden;
  max-width: 800px;
  flex-wrap: nowrap; 
}

.project-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 53, 102, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  width: 100%;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 53, 102, 0.2);
}

.project-image-container {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.project-image-container .desktop-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.project-card:hover .desktop-img {
  transform: scale(1.05);
}

.project-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
}

.project-name {
  font-size: 1.6rem;
  color: #003566;
  margin: 0 0 8px 0;
}

.project-description {
  font-size: 0.95rem;
  color: #6c757d;
  line-height: 1.6;
  margin-bottom: 15px;
  flex-grow: 1;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 15px;
}

.tech-item {
  background-color: #e9ecef;
  color: #495057;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 500;
}

.project-links {
  display: flex;
  gap: 12px;
  margin-top: auto;
}

.live-demo-btn, .github-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 0.9rem;
}

.live-demo-btn {
  background-color: #ffc300;
  color: #003566;
  border: 2px solid #ffc300;
}

.live-demo-btn:hover {
  background-color: #e6b300;
  transform: translateY(-2px);
}

.github-btn {
  background-color: transparent;
  color: #003566;
  border: 2px solid #003566;
}

.github-btn:hover {
  background-color: #003566;
  color: #ffffff;
  transform: translateY(-2px);
}

.slide-button {
  background: transparent;
  border: none;
  font-size: 2.5rem;
  color: #003566;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 0 10px;
}

.slide-button:hover {
  color: #ffc300;
}
.featured-icon {
  font-size: 1.5rem; 
  color: #ffc300; 
  text-shadow: 0 0 5px rgba(255, 195, 0, 0.5); 
  margin-left: 10px; 
  padding-top: 7px;
  transition: transform 0.3s ease-in-out;
}

.featured-icon:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .project-grid-wrapper {
    gap: 10px;
    padding: 0 10px;
      padding-top: 50px;
  }

  .project-grid {
    flex-wrap: nowrap;
    max-width: 100%;
    
  }

  .project-card {
    flex-shrink: 0; 
    width: 100%; 
  }

  .slide-button {
    padding: 0 5px;
  }
  
  .project-content {
    padding: 20px;
  }

  .project-name {
    font-size: 1.8rem;
  }

  .project-description {
    font-size: 1rem;
  }
  .slide-button{
    display: none; 
  }
}